.container-fluid
    .row
        .col-12.footer-composition
            footer.footer
                .container
                    .row
                        .col-md-5.col-sm-7
                            nav.menu-footer
                                ul.menu-footer__list
                                    li.menu-footer__item
                                        a(href="#").menu-footer__link Главная
                                    li.menu-footer__item
                                        a(href="#").menu-footer__link Форум
                                    li.menu-footer__item
                                        a(href="#").menu-footer__link Статьи
                                    li.menu-footer__item
                                        a(href="#").menu-footer__link Главная
                                ul.menu-footer__list
                                    li.menu-footer__item
                                        a(href="#").menu-footer__link Главная
                                    li.menu-footer__item
                                        a(href="#").menu-footer__link Форум
                                    li.menu-footer__item
                                        a(href="#").menu-footer__link Статьи
                                    li.menu-footer__item
                                        a(href="#").menu-footer__link Главная
                                ul.menu-footer__list
                                    li.menu-footer__item
                                        a(href="#").menu-footer__link Реклама на портале
                                    li.menu-footer__item
                                        a(href="#").menu-footer__link Форум
                                    li.menu-footer__item
                                        a(href="#").menu-footer__link Статьи
                        .col-md-4.offset-md-3.col-sm-5
                            .footer-right-block
                                .social
                                    .social__item
                                        a(href="#").social__link
                                            i.icon-vkontakte
                                    .social__item
                                        a(href="#").social__link
                                            i.icon-whatsapp
                                .stat
                                    img(src="../assets/image/hit.gif")
    .row.justify-content-center
        .col
            .footer-copy
                span © 2009 - 2018 DV-FISHING.RU &nbsp;
                span.footer-copy__hide Копирование и публикация материалов без активной ссылки на первоисточник запрещены.                                     