.slider
    .slider__nav.slider__nav-prev
        i.icon-angle-circled-left
    .slider__nav.slider__nav-next
        i.icon-angle-circled-right
    .slider__dots   
    ul.slider__list
        li.slider__item
            img(src="assets/image/upload/1.jpg").slider__image
            a(href="#").slider-dropdown
                h2.slider-dropdown__title Хариус
                span.slider-dropdown__desc Хариус - красивый обитатель многих рек Дальнего Востока, привлекает внимание рыболовов своей непредс...       
        li.slider__item
            img(src="assets/image/upload/2.jpg").slider__image
            a(href="#").slider-dropdown
                h2.slider-dropdown__title Хариусvyjujuj
                span.slider-dropdown__desc Был соблазн сегодня за грибами сгонять. Но с грибами в это лето что то не очень, поэтому решил ноги не бить ради десятка дикоросов - а поехал на рыбалку.  Воды много, берега мало. Приходится       
        li.slider__item
            img(src="assets/image/upload/3.jpg").slider__image
            a(href="#").slider-dropdown
                h2.slider-dropdown__title Петропавловка
                span.slider-dropdown__desc Спустя неделю решил опять под скалу рвануть. Да и погода сделала небольшой перерывчик)) 6:30 утра-шагаю по берегу...вижу мой товарищ что то тащит (с ночевой сидел), и завидев меня кричит: расчехляй подсак! Ну, думаю      