@import "utils/vars";
@import "utils/reset";
@import "utils/libs";

html {
  font-size: $base-font-size;
}
body {
  font-family: $base-font-family;
  background-color: $background-color;
  color: $base-font-color;
}

a {
  color: $base-font-color;
}

@import "modules/header";
@import "modules/content";
@import "modules/slider";
@import "modules/block";
@import "modules/footer";
@import "modules/media";