@import "utils/vars";
@import "utils/reset";
@import "utils/libs";


html {
  font-size: $base-font-size;
}
body {
  font-family: $base-font-family;
  background-color: $background-color;
  color: $base-font-color;
}

a {
  color: $base-font-color;
}

.btn {
  display: inline-block;
  background-color: transparent;
  border-radius: 5px;
}

@import "modules/header";
@import "modules/content";
@import "utils/media";