h3
	a(href="#").section-title Облако тегов
.block
	.block-tag
		ul.block-tag__list
			each val in ['мушки', 'хариус', 'спининнг', 'нахлыст', 'таймень', 'горбуша', 'Амур', 'блесна', 'Коппи',' Анюй']
				li.block-tag__item
					a(href="#").block-tag__link= val