h3
    a(href="#").section-title Видео обзоры
each val in [2,3,4,5,6]
    article.block
        header.block__header.block__header-video
            a(href="#")    
                .block-video
                    .block-video__play
                img(src="assets/image/upload/"+val+".jpg").block__image
            h2.block__title
                a(href="#").block__link Снасти для ловли хариуса