h3
    a(href="#").section-title Последние статьи
each val in [1,2,3,4,5]
    article.block
        header.block__header
            a(href="#")
                img(src="assets/image/upload/thumb.jpg").block__image
            h2.block__title
                a(href="#").block__link Снасти для ловли хариуса
            .block__text Хариус - красивый обитатель многих рек Дальнего Востока, привлекает внимание рыболовов своей непредс...
        a(href="#").block__link Читать далее...
        footer.block-footer
            .block-tag
                ul.block-tag__list
                    li.block-tag__item
                        a(href="#").block-tag__link Мушки
                    li.block-tag__item
                        a(href="#").block-tag__link Хариус
                    li.block-tag__item
                        a(href="#").block-tag__link Снасти