extends layout/default
block variables
    - var title = "Главная страница"
block styles
    link(rel="stylesheet" href="assets/libs/slick/slick.css")
block content
    main.container
        .row
            .col-md-3.col-sm-6.order-2
               include widgets/widget-articles
            .col-md-6.order-md-2.col-sm-12.order-1
                include partials/slider
                h3
                    a(href="#").section-title Последние отчеты
                each val in [7,8,9,10,11]    
                    article.block
                        header.block__header
                            a(href="#")
                                picture
                                    source(media="(max-width: 991px)", srcset="https://via.placeholder.com/880x588")
                                    img(src="assets/image/upload/"+val+".jpg").block__image
                            .block-info
                                .block-info__date 31 Июля, 2017
                                .block-info__view
                                    i.icon-eye
                                    span.block-info__text 12588
                                .block-info__comment
                                    a(href="#").block-info__link
                                        i.icon-comment
                                        span.block-info__text 12588
                            h2.block__title
                                a(href="#").block__link Рыбалка на протоке Берендинская
                            .block__text.block__text-indent Любое путешествие (большое или малое) начинается с планирования: знакомство с местом, финансирование мероприятия, цели и намерения, подбор напарников и многое другое. Подбор напарников и многое другое...
                        a(href="#").block__link.block__link-btn Читать дальше...
            .col-md-3.col-sm-6.order-3
                include widgets/widget-video
                include widgets/widget-tags-cloud
block script
    script(src="assets/libs/slick/slick.min.js")