/*  Base fonts */
$base-font-size: 10px;
$base-font-family: 'Pt Sans', sens-serif;
$base-font-color: #484848;
$tablet-size: 767px;
$mobile-size: 575px;

/*  Colors */
$white: #fff;
$background-color: #ffffff;
$background-header: #3e3e3e;
$bg-btn-header-color: #aeece1;
$blue: #60aaa4;
$dark-blue: #007cc3;
$light-blue: #e9f4f9;
$gray: #3e3e3e;
$yellow: #f3eb18;
$border-left: #1992d7;
$border-right: #016ba6;
$menu-hover: #545555;
$block-bg: #f1f4f5;
$tag-bg: #8a8b8b;
$tag-bg-hover: #80cefb;
$link-hover: #ec8e1f;