/*  Base fonts */
$base-font-size: 22px;
$base-font-family: 'Pt Sans', sens-serif;
$base-font-color: #000000;

/*  layout settings */
$content-width: 1380px;

/*  Colors */
$white: #fff;
$background-color: #ffffff;
$background-header: #3e3e3e;
$bg-btn-header-color: #aeece1;
$blue: #60aaa4;
$grey: #3e3e3e;