.section-title {
  font-size: 1.8rem;
  color: $dark-blue;
  font-weight: 700;
  padding-left: 0.5rem;
  margin-bottom: 2rem;
}

.block {
  margin: 1rem 0;
  background-color: $block-bg;
  border-radius: 0.5rem;
  padding: 0.7rem;
  font-size: 1.4rem;
  &__title {
    font-size: 1.6rem;
    color: $dark-blue;
    margin-bottom: 0.5rem;
  }
  &__header {
    overflow: hidden;
    &-video {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__image {
    float: left;
    margin: 0.5rem 0.7rem 0.5rem 0;
    border-radius: 1rem;
    max-width: 100%;
  }
  
  &__text {
    line-height: 1.8rem;
    margin-bottom: 0.5rem;
  }
  &__link {
    color: $dark-blue;
    font-weight: 700;
    &:hover {
      color: $link-hover;
    }

  }
  &-footer {
    padding-top: 0.7rem;
  }
  &-tag {
    &__list {
      display: inline-flex;
      flex-wrap: wrap;
    }
    &__item {
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      &:last-child {margin-right: 0;}
      background-color: $tag-bg;
      padding: 0.3rem 0.5rem;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        background-color: $tag-bg-hover;
        & > a {
          color: $menu-hover
        }
      }
    }
    &__link {
      font-size: 1.2rem;
      color: $white;
    }
  }
}

.slider {
  margin: 1rem 0;
  position: relative;
  &__nav {
    z-index: 2;
    font-size: 2.5rem;
    color: $white;
    top: 50%;
    opacity: 0.6;
    cursor: pointer;
    transform: translateY(-50%);
    &:hover {
      color: $menu-hover;
    }

    &-prev {
      position: absolute;
      
      left: 0;
    }
    &-next {
      position: absolute;
      
      right: 0;
    }
  }
/*  &__dot {
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: $white;
    margin: 1rem;
    border-radius: 50%;
    opacity: 0.6;
  }*/
  &__image {
    width: 100%;
    border-radius: 1rem;
  }
  &-dropdown {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $menu-hover;
    opacity: 0.6;
    cursor: pointer;
    outline: none;
    //height: 2rem;
    color: $white;
    border-radius: 0 0 1rem 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    &__title {
      text-align: center;
    }
    &__desc {
      display: none;
      &-view {
        display: block;
        min-height: 5rem;
      }
    }

  }
}
/*.slick-dots {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  align-items: center;
  li {
    &.slick-active {
      .slider__dot {
        background-color: $menu-hover;
      }
    }
  }
}*/