@media (max-width: $mobile-size) {
	.header-composition {
		height: 8.5rem;
		background: $light-blue;
		
	}
	.login-wrap {
		display: none;
	}
	.search {
		display: none;
	}
	.social {
		font-size: 2rem;
	}
	.menu {
		&-wrap {
			height: 3rem;
			position: relative;
		}
		&__list {
			position: absolute;
			top: 3rem;
			left: 0;
			display: none;
			flex-direction: column;
			line-height: 2rem;
			align-items: flex-start;
			background-color: $dark-blue;
			&-dropdown {
				display: none;
			}
			&-mobile {
			  &-open {
				display: flex;
			  }
			}
		}
		&__item {
			width: 100%;
			border-right: 0;
			border-left: 0;
			line-height: 3rem;
		}
		&__link {
			padding-left: 2rem;
		}
		&-mobile {
			display: flex;
		}
	}
	
	.block{
			&-info {
				display: none;
			}
			&-list {
				&__item {
					width: 100%;
				}
			}
			&__title {
				clear: both;
			}
		}
	
	.footer {
		&-right-block {
			display: none;
		}
	}
}

@media (max-width: $tablet-size) and (min-width: $mobile-size) {
	.menu {
		&__item {
			&:nth-last-child(-n+5) {border-right: none;}
			&-mobile {
				&-hide {
					display: none;
				}
			}
			&-tablet {
				border-left: none;
				border-right: none;
				display: block;
			}
		}
	}
}	

@media (max-width: $tablet-size) {
	.footer {
		&-copy {
			&__hide {
				display: none;
			}
		}
	}
}