.menu-wrap {
  background-color: $dark-blue;
  height: 5rem;
}

.menu {
  font-size: 1.8rem;
  &__list {
    z-index: 3;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    &-dropdown {
      width: 30rem;
      display: none;
      flex-direction: column;
      position: absolute;
      background-color: $dark-blue;
      box-shadow: 1px 2px 4px 1px rgba(95,95,95,0.55);
    }
  }
  &__item {
    line-height: 5rem;
    background-color: $dark-blue;
    display: block;
    border-right: 1px solid $border-right;
    border-left: 1px solid $border-left;
    &:first-child { border-left: none;}
    &:nth-last-child(-n+2) {border-right: none;}
    &-dropdown {
      line-height: 3rem;
      align-self: flex-start;
      width: 100%;
      border-bottom: 1px solid $border-left;
    }
    &:hover {
      background-color: $menu-hover;
      .menu__list-dropdown {
        display: flex;
      }
    }
    &-active {
      background-color: $menu-hover;
    }
    &-tablet {
      color: $white;
      font-size: 3rem;
      display: none;
    }
  }

  &__link {
    color: $white;
    display: block;
    transition: all 0.2s linear;
    cursor: pointer;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
   
  }

  &-mobile {
    position: relative;
    display: none;
    flex-wrap: nowrap;
    justify-content: space-between;
    &__icon {
      width: 30px;
      height: 30px;
      background-color: transparent;
      color: $white;
      font-size: 1.6rem;
      border: none;
      display: flex;
      position: absolute;
      line-height: 30px;
      &:hover {
        color: darken($white, 30%)
      }
    }

    &__item {
      height: 2.8rem;
      font-size: 2rem;
      line-height: 2.8rem;
    }
    &__link {
      color: $white;
      transition: all .2s linear;
      &:hover {
        color: darken($white, 30%)
      }
    }
  }
  &__close {
    background-color: transparent;
    border: 0;
    font-size: 2rem;
    display: none;
    color: $dark-blue;
    position: absolute;
    top: 3rem;
    left: 18.5rem;
    &-open {
      display: block;
    }
  }
  &-footer {
    font-size: 1.4rem;
    line-height: 2.2rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    &__list {
      display: flex;
      flex-direction: column;
      margin-right: 1.5rem;
      &:last-child {
        margin-right: 0;
      }
    }
    &__link {
      color: rgba(72, 72, 72, 0.8);
      text-shadow: rgb(233, 244, 249) 1px 1px 1px;
      transition: all 0.2s ease;
      &:hover {
        color: $link-hover;
      }
    }
  }
}