header.header
    .header-wrap
        .container.header-container
            .header__logo
                img(src='assets/image/logo.png')
            .header__info
                .header__item
                    span.header-icon
                        img(src='assets/image/location_icon.png')
                    span.header-text Санкт-Петербург,<br/> Чугунная улица,  д. 20
                .header__item
                    span.header-icon
                        img(src='assets/image/phone_icon.png')
                    span.header-text СПБ: +7(812) 972-11-18 <br/> МСК: +7(967) 531-91-09
            .header__info
                .header__item
                    span.header-icon
                        img(src='assets/image/clock_icon.png')
                    span.header-text Пн-Сб 09:00-18:00
                .header__item
                    span.header-icon
                        img(src='assets/image/letter_icon.png')
                    span.header-text viplight@viplightgroup.ru

            .header__btn
                a(href="#").header-btn.btn Обратный звонок

    .container
        nav.header-nav
            ul.header-nav__list
                li.header-nav__item
                    a(href='#').header-nav__link О компании
                li.header-nav__item
                    a(href='#').header-nav__link Услуги
                li.header-nav__item
                    a(href='#').header-nav__link Отраслевые решения
                li.header-nav__item
                    a(href='#').header-nav__link Каталог
                li.header-nav__item
                    a(href='#').header-nav__link Наши проекты
                li.header-nav__item
                    a(href='#').header-nav__link Блог
                li.header-nav__item
                    a(href='#').header-nav__link Контакты
