doctype html
html(lang='Ru')
 head
  title Главная страница
  link(href="assets/css/main.min.css" rel="stylesheet")
 body
   include partials/header.pug
   include partials/content.pug
   include partials/footer.pug
 script(src='assets/js/main.min.js')


